{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
WeirdButReal - {{ post.title }}
{% endblock %}

{% block scriptContainer %}
  <script type="text/javascript">

    function commentVote() {
      $.ajax({
        type: "GET",
        url: "{% url 'ajaxcommentvote' post.urlcode %}",
        success: function(data) {
          var comments = $(".comment-like")
          if (data.length != 0) {
            $.each(data, function(index, value) {
              $("button.comment-like#" + value).css({
                backgroundColor: '#0f3c51',
                color: 'white',
              });
            });
          }
        }
      });
    }

    // This function controls vote status and the button's color.
    function buttonVote() {
        // This request accesses vote db
        // returns a json (urlcode,vote_status)
        // changes buttons' color
        $.ajax({
          type: "GET",
          url: "{% url 'ajaxstoryvote' post.urlcode %}",
          datatype: 'json',
          success: function(response) {
            var data = response["vote_status"]
            if (data == "Upvote") {
              $('#button-up').css({
                backgroundColor: '#0f3c51',
                color: 'white',
              });
              $('#button-down').css({
                backgroundColor: '#fff',
                color: '#333',
              });
            }
            if (data == "Downvote") {
              $('#button-down').css({
                backgroundColor: '#0f3c51',
                color: 'white',
              });
              $('#button-up').css({
                backgroundColor: '#fff',
                color: '#333',
              });
            }
          }
        });
    }

    // initializing jquery
    $(document).ready(function() {
      {% if request.user.is_authenticated %}
        buttonVote();
        commentVote();
      {% endif %}

      // This method controls comment-like voting system
      $('.comment-like').on('click', function() {
        var compk = $(this).attr('id')
        // post request for comment-like
        {% if request.user.is_authenticated %}
          $.ajax({
            type: 'POST',
            url: "{% url 'ajaxcommentvote' post.urlcode %}",
            data: {compk: compk, csrfmiddlewaretoken: '{{ csrf_token }}'},
            success: function(response) {
              var resp = response["resp"]
              if (resp == "created") {
                $("button.comment-like#" + compk).css({
                  backgroundColor: '#0f3c51',
                  color: 'white',
                });
                var cntr = $("#comment-counter"+compk).text()
                $("#comment-counter"+compk).text(parseInt(cntr)+1)
              }
              if (resp == "removed") {
                $("button.comment-like#" + compk).css({
                  backgroundColor: '#fff',
                  color: '#333',
                });
                var cntr = $("#comment-counter"+compk).text()
                $("#comment-counter"+compk).text(parseInt(cntr)-1)
              }
            }
          });
        {% else %}
          console.log("Authentication Error!");
          $(".comment-like#" + compk).popover("toggle");
        {% endif %}
      });


      // this method controls voting system
      $('.vote-button').on('click', function() {
        var bttn = $(this).attr('id')
        // post request is being sent
        $.ajax({
          type: 'POST',
          url: "{% url 'ajaxstoryvote' post.urlcode %}",
          data: {
            bttn: bttn,
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          success: function(response) {
            var buttoncolor = $('#button-up').css('backgroundColor')
            if (response['response'] != "NotAuthenticated") {
              if (response['response'] == 'Upvote') {
                $('#button-up').css({
                  backgroundColor: '#0f3c51',
                  color: 'white',
                });
                $('#button-down').css({
                  backgroundColor: '#fff',
                  color: '#333',
                });
                if (buttoncolor != $('#button-up').css('backgroundColor')) {
                  var cntr = $("#upvote-counter").text();
                  $("#upvote-counter").text(parseInt(cntr)+1);
                }
              }
              if (response['response'] == 'Downvote') {
                $('#button-down').css({
                  backgroundColor: '#0f3c51',
                  color: 'white',
                });
                $('#button-up').css({
                  backgroundColor: '#fff',
                  color: '#333',
                });
                if (buttoncolor != $('#button-up').css('backgroundColor')) {
                  var cntr = $("#upvote-counter").text();
                  if (parseInt(cntr) != 0) {
                    $("#upvote-counter").text(parseInt(cntr)-1);
                  }
                }
              }
            }
            else {
              $('.post-buttons').popover('toggle');
            }
          }
        });
      });
    });
  </script>
{% endblock %}

{% block postContainer %}
  <div class="post-container">
    {% if messages %}
      {% for message in messages  %}
        <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <div class="post-elements">
      <h1 class="post-headline">
        <span class="glyphicon glyphicon-triangle-right"></span>
        <span class="post-heading">
          {{ post.title }}
        </span>
      </h1>
    </div>
    <hr class="divider" />
    <div class="post-elements">
      <div class="post-content">
        {{ post.text|linebreaksbr }}
      </div>
    </div>
    <hr class="divider" />
    <div class="post-elements" id="post-info">
      <div class="post-share">
        <ul class="share-buttons">
          <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src=" {% static 'img/shares/Facebook.png' %}"></a></li>
          <li><a href="http://twitter.com/share?url={{request.build_absolute_uri }}&text={{ story.title }}&hashtags=weirdbutreal" target="_blank" title="Tweet"><img alt="Tweet" src=" {% static 'img/shares/Twitter.png' %}"></a></li>
          <li><a href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" target="_blank" title="Share on Google+"><img alt="Share on Google+" src=" {% static 'img/shares/Google+.png' %}"></a></li>
          <li><a href="https://reddit.com/submit?url={{ request.build_absolute_uri }}&title={{ story.text }}" target="_blank" title="Submit to Reddit"><img alt="Submit to Reddit" src=" {% static 'img/shares/Reddit.png' %}"></a></li>
          <li><a href="mailto:?subject={{ story.title }}&body={{ request.build_absolute_uri }}" target="_blank" title="Send email"><img alt="Send email" src=" {% static 'img/shares/Email.png' %}"></a></li>
        </ul>
      </div>
      <div class="post-timestamp">
        added by <a href="{% url 'pplistPage' post.author %}"><strong>{{ post.author }}</strong></a> in {{ post.created|date:'M d, Y' }} -&nbsp&nbsp<a href="
        {% if post.category == 'Funny' %}
            {% url 'funnyPage' %}
        {% elif post.category == 'Mysterious' %}
            {% url 'mysteriousPage' %}
        {% endif %}"><strong>#{{ post.category }}</strong></a>
        {% if request.user == post.author %}
          |> <a href="{% url 'deleteconfirmPage' post.urlcode %}" style="color:red;"><strong>Delete Post</strong></a> <|
        {% endif %}
      </div>
    </div>
    <div class="post-elements">
      <div class="post-stats">
        <p>
          <span class="highlighted" id="upvote-counter">{{ post.vote_set|upvote_count }}</span> upvotes
          <span class="highlighted" id="comment-counter">{{ post.storycomment_set.count }}</span> comments
        </p>
      </div>
      <div class="post-buttons" data-toggle="popover" data-placement="bottom" data-trigger="focus" data-content="You need to login to vote.">
        <button id="button-up" type="button" class="btn btn-default vote-button" data-placement="bottom" data-trigger="focus" data-content="You've already upvoted.">
          <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span> Upvote
        </button>
        <button id="button-down" type="button" class="btn btn-default vote-button" data-placement="bottom" data-trigger="focus" data-content="You've already downvoted.">
          <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span> Downvote
        </button>
      </div>
    </div>
    <div style="float:right; padding-right:5px; font-size:12px;">
      <a href="{% url 'reportPage' post.urlcode %}">REPORT</a>
    </div>
  </div>
{% endblock %}


{% block commentContainer %}
  {% include "modules/comment.html" %}
{% endblock %}
