{% extends 'base.html' %}

{% block title %}
  Notifications
{% endblock %}

{% block notifyContainer %}
  <div class="post-container">
    <div class="notify-container">
      <h3 class="page-title">Notifications</h3>
      <ul>

        <li>
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <a href=""><span style="font-weight: bold;">TheLegend27</span></a> upvoted your <a href=""><span style="font-weight: bold;">story</span></a> 14 minutes ago.
        </li>
        <li>
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <a href=""><span style="font-weight: bold;">TheLegend27</span></a> upvoted your <a href=""><span style="font-weight: bold;">story</span></a> 14 minutes ago.
        </li>
        <li>
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <a href=""><span style="font-weight: bold;">TheLegend27</span></a> upvoted your <a href=""><span style="font-weight: bold;">story</span></a> 14 minutes ago.
        </li>
        <li>
          <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
          <a href=""><span style="font-weight: bold;">TheLegend27</span></a> upvoted your <a href=""><span style="font-weight: bold;">story</span></a> 14 minutes ago.
        </li>
    </div>
  </div>
{% endblock %}
