{% extends 'base.html' %}
{% load static %}

{% block title %}
  About WeirdButReal.com
{% endblock %}

{% block aboutContainer %}
  <div class="post-container">
    <h3 class="page-title">
      WeirdButReal.com
    </h3>
    <p>
      There are thousands of people who claim that they were kiddapped by aliens. Some people
      tell they're seeing ghosts, wampires and such. Some of us believe them and some of us do not.
      What I want to do is simply to collect them all and let people see and share their ideas about
      these strange stories.
    </p>
    <p>
      I hope i can make people see a different point of view in our lives.<br /><br /><br /><br />
    </p>
    <p>
      Orhan Odabaşı - Janitor<br />
      Contact: 0rh.odabasi[at]gmail.com<br /><br />
    </p>
  </div>
{% endblock %}
