{% extends 'base.html' %}
{% load static %}

{% block title %}
  Change Your Profile Details
{% endblock %}

{% block scriptContainer %}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

  <script type="text/javascript">
    $(document).ready(function() {
      var bday = $("input[name='formtwo-birthday']");
      bday.datepicker({
        format: "yyyy-mm-dd",
      });
    });
  </script>
{% endblock %}


{% block profile-details %}
  {% include "modules/profile_detail_menu.html" %}
{% endblock %}


{% block profileContainer %}
  <div class="post-container">
    <div class="auth-form">

      <h3 class="page-title">Edit Your Profile, {{ request.user }}</h3>
      {% if messages %}
        {% for message in messages  %}
          <div class="alert alert-{{ message.tags }}" role="alert">{{ message }}</div>
        {% endfor %}
      {% endif %}
      <p style="margin-top: 5px; text-align: center;">
        If you change your e-mail address, we will send a confirmation link to your new mail address.
      </p>

      <form method="POST" action=""> {% csrf_token %}
        {% for field in form %}
          <strong>{{ field.label }}:</strong>
          {{ field }}
        {% endfor %}
        {% for field in formtwo %}
          <strong>{{ field.label }}:</strong>
          {% if field.label == 'Birthday' %}- Format YYYY-mm-dd{% endif %}
          {{ field }}
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-lg btn-block" id="auth-button">Save Changes</button>
      </form>

    </div>
  </div>
{% endblock %}
