{% load static %}


<nav aria-label="Page navigation" class="pg-container" >
  <ul class="pagination">
    {% if stories.has_other_pages %}
      {% if stories.number != 1 %}
        <li>
          <a href="?page=1" aria-label="First Page">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% if stories.number|add:"-3" > 0 %}
        <li><a href="?page={{stories.number|add:"-3"}}">{{stories.number|add:"-3"}}</a></li>
      {% endif %}
      {% if stories.number|add:"-2" > 0 %}
        <li><a href="?page={{stories.number|add:"-2"}}">{{stories.number|add:"-2"}}</a></li>
      {% endif %}
      {% if stories.number|add:"-1" > 0 %}
        <li><a href="?page={{stories.number|add:"-1"}}">{{stories.number|add:"-1"}}</a></li>
      {% endif %}

      <li class="active"><a href="?page={{stories.number}}">{{stories.number}}</a></li>

      {% if stories.number|add:"1" < stories.paginator.num_pages %}
        <li><a href="?page={{stories.number|add:"1"}}">{{stories.number|add:"1"}}</a></li>
      {% endif %}
      {% if stories.number|add:"2" < stories.paginator.num_pages %}
        <li><a href="?page={{stories.number|add:"2"}}">{{stories.number|add:"2"}}</a></li>
      {% endif %}
      {% if stories.number|add:"3" < stories.paginator.num_pages %}
        <li><a href="?page={{stories.number|add:"3"}}">{{stories.number|add:"3"}}</a></li>
      {% endif %}

      {% if stories.number != stories.paginator.num_pages %}
        <li>
          <a href="?page={{stories.paginator.num_pages}}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
    {% endif %}
  </ul>
</nav>
