<div class="right-content-wrapper post-container">
  <h4>Account Details</h4>
  <div class="list-group">
    {% url 'editprofilePage' as editpage %}
    <a href="{{ editpage }}" class="list-group-item list-group-item-action {% if request.path == editpage %}active{% endif %}"><strong>Change Profile Details</strong></a>
    {% url 'changepasswordPage' as passpage %}
    <a href="{{ passpage }}" class="list-group-item list-group-item-action {% if request.path == passpage %}active{% endif %}"><strong>Change Password</strong></a>
    {% url 'myupvotesPage' as upvotepage %}
    <a href="{{ upvotepage }}" class="list-group-item list-group-item-action {% if request.path == upvotepage %}active{% endif %}"><strong>My Upvotes</strong></a>
    {% url 'mydownvotesPage' as downvotepage %}
    <a href="{{ downvotepage }}" class="list-group-item list-group-item-action {% if request.path == downvotepage %}active{% endif %}"><strong>My Downvotes</strong></a>
    {% url 'mypostsPage' as postpage %}
    <a href="{{ postpage }}" class="list-group-item list-group-item-action {% if request.path == postpage %}active{% endif %}"><strong>My Stories</strong></a>
    {% url 'mycommentsPage' as commentpage %}
    <a href="{{ commentpage }}" class="list-group-item list-group-item-action {% if request.path == commentpage %}active{% endif %}"><strong>My Comments</strong></a>
    {% url 'notificationsPage' as notpage %}
    <a href="{{ notpage }}" class="list-group-item list-group-item-action {% if request.path == notpage %}active{% endif %}"><strong>Notifications</strong></a>
  </div>
</div>
