<div class="right-content-wrapper post-container">
  <h4>Account Details</h4>
  <div class="list-group">
    {# //TODO: add 'active' to class for current page #}
    <a href="{% url 'editprofilePage' %}" class="list-group-item list-group-item-action"><strong>Change Profile Details</strong></a>
    <a href="{% url 'changepasswordPage' %}" class="list-group-item list-group-item-action"><strong>Change Password</strong></a>
    <a href="{% url 'myupvotesPage' %}" class="list-group-item list-group-item-action"><strong>My Upvotes</strong></a>
    <a href="{% url 'mydownvotesPage' %}" class="list-group-item list-group-item-action"><strong>My Downvotes</strong></a>
    <a href="{% url 'mypostsPage' %}" class="list-group-item list-group-item-action"><strong>My Stories</strong></a>
    <a href="{% url 'mycommentsPage' %}" class="list-group-item list-group-item-action"><strong>My Comments</strong></a>
    <a href="{% url 'notificationsPage' %}" class="list-group-item list-group-item-action"><strong>Notifications</strong></a>
  </div>
</div>
