{% extends "base.html" %}


{% block title %}
  Login Page - WeirdButReal.com
{% endblock title %}


{% block postContainer %}
  <div class="post-container">
    <form method="post" action=""> {% csrf_token %}
      <div class="auth-form">
        <h4 class="page-title" style="text-align:center;">Log in to your Weird Account</h4><br />

        {% if form.errors %}
          <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div>
        {% endif %}

        {% for field in form %}
          <strong>{{ field.label }}</strong>
          {{ field }}
        {% endfor %}

        <button type="submit" class="btn btn-primary btn-lg btn-block" id="auth-button">Login</button>
        <p style="margin-top: 5px; text-align: center;">
          <strong>If you don't remember your password, <a href="{% url 'resetpasswordPage' %}">click here</a></strong>
        </p>
        <p style="text-align: center;">
          <strong>Don't have an account? <a href="{% url 'registerPage' %}">Sign up now!</a></strong>
        </p>
      </div>
    </form>
  </div>
{% endblock %}
